.input {

}

.given, .given-bottom, .given-right, .given-bottom-right {
  background-color: lightgray;
}

.input, .given, .input-bottom, .given-bottom, .input-right, .given-right, .input-bottom-right, .given-bottom-right {
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  font-size: 38px;
  text-align: center;
  border-top: 2px solid black;
  border-left: 2px solid black;
  outline: none;
}

.input, .given {
  border-bottom: none;
  border-right: none;
}

.input-bottom, .given-bottom {
  border-bottom: 2px solid black;
  border-right: none;
}

.input-right, .given-right {
  border-right: 2px solid black;
  border-bottom: none;
}

.input-bottom-right, .given-bottom-right {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}