.difficulty {
  justify-content: center;
  margin: 16px auto;
  width: 498px;
  height: 498px;
  text-align: center;
  border-width: 5px;
}

.easy {
  color: white;
  background-color: green;
}

.medium {
  color: black;
  background-color: yellow;
}

.hard {
  color: white;
  background-color: red;
}

.easy,
.medium,
.hard {
  display: flex;
  padding: 8%;
  margin: 5% auto;
  font-size: 30px;
  font-weight: 800;
}
