.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 540px;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 20;
  padding: 10px 20px;
  font-size: 26px;
  text-align: center;
}

.modal > * {
  margin: 5px 24px;
}
